$theme-main: url(../assets/images/bg-main.jpg);

$fontAvantgarde: url(../assets/includes/fonts/avantgarde-webfont.woff);
$fontOpensans: url(../assets/includes/fonts/opensans-regular-webfont.woff2);
$fontAwesomen: url(../assets/includes/fonts/fontawesome-webfont.woff2);
